<div class="pannel">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family:cursive;">SignUp</h1>
            <h5 style="font-family:cursive;">Register himself!!</h5>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: #fff;">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Your Name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: #fff;">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Your Email" formControlName="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: #fff;">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Enter Your Password" formControlName="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: #fff;">Mobile No</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Your mobile no" formControlName="mobile">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" >Sign Up</button>&nbsp;
                
            </div>
            <a routerLink="/" style="color: #fff;">Already have account?Loginhere</a>
        </form> 
    </div>
    
</div>